.login
    background: #333333
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center

.ReactModal__Content
    width: 100%
    max-width: 560px
    border-radius: 10px !important

.auth-modal
    background: #fff
    border-radius: 10px
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4)
    height: 100%
    width: 100%
    overflow: hidden

.auth-links
    padding: 45px 0
    border-bottom: 1px solid #E0E0E0
    display: flex
    justify-content: center
    font-size: 18px

.auth-link
    color: #929292 !important
    cursor: pointer
    padding-right: 30px
    padding-left: 30px
    &.active, &:hover
        color: black !important

.auth-input__wrapper
    padding: 25px 40px
    margin-bottom: 0 !important
    &.form-group
        border-bottom: 1px solid #E0E0E0

.login-form label
    color: #929292
    font-size: 18px

.login-form input[type='text'],
.login-form input[type='password'],
.login-form input[type='tel'],
.login-form input[type='email'] 
    -webkit-appearance: none
    -moz-appearance: none
    width: 100%
    border: none
    font-size: 17px

.login-form input::placeholder
    color: #b3b3b3

.auth-btn__container
    padding: 0 40px 40px 40px

.auth-btn
    padding: 25px !important
    width: 100%
    font-size: 20px !important

@media (max-width: 575px) 
    .login-block
        height: auto
    
