.tiles
    width: 100%
    display: grid
    grid-template-columns: repeat(5,1fr)
    grid-template-rows: repeat(4,200px)
    grid-gap: 10px
    grid-auto-flow: row

.tile
    box-sizing: border-box
    background-color: #FFF7D5
    grid-column-end: span 2
    grid-row-end: span 1
    position: relative
    overflow: hidden

.category__caption
    margin-bottom: 0
    position: relative

.tile__image
    position: absolute
    bottom: 10px

.tile__image_vertical
    position: absolute
    bottom: 0

.category .category__count
    font-size: 14px
    position: relative

.tile_vertical
    box-sizing: border-box
    background-color: #FFF7D5
    grid-column-end: span 1
    grid-row-end: span 2
    position: relative
    overflow: hidden

.tile__inner
    padding: 16px

.tile-categories
    background-color: #FED001

.tile__image.right
    right: 3px

.tile:not(.tile-categories)::before, .tile_vertical::before
    position: absolute
    display: block
    width: 0
    height: 0
    border-radius: 50%
    background-color: #FFB91B
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    z-index: 0
    content: ""

.tile:hover:before, .tile_vertical:hover:before
    width: 1100px
    height: 1100px




@media (max-width: 991px) and (min-width: 768px)
    .tiles
        grid-template-columns: repeat(4, 0.25fr)
        grid-template-rows: repeat(6,200px)

    .tile_vertical
        grid-column-end: span 2
        grid-row-end: span 2
    .tile__image_vertical
        position: absolute
        bottom: 0
        right: 30%