.ad__card
    font-size: 13px
    margin-bottom: 30px

.ad__img
    position: relative

.ad__img img:not(.like)
    height: 172px
    width: 100%
    -o-object-fit: cover
    object-fit: cover
    -o-object-position: center
    object-position: center

.ad__img .like
    width: 18px
    height: 16px
    position: absolute
    top: 5px
    right: 5px


.ad__info span
    display: block

.ad__info
    padding-top: 10px

.ad__info span:last-of-type
    color: #858585

.ad__title
    color: #FFB91B
    font-weight: 500
    margin-bottom: 5px

