.top__caption
    color: #FFB91B
    font-weight: 700

.top li
    line-height: 20px

.top span
    font-size: 13px
    font-weight: 400


.bottom
    border-top: .5px solid #FFB91B
    height: 82px
    line-height: 2.5
    padding: 22px 0

.nav__link
    padding: 0 17.5px
    font-size: 14px
