.section-xs
    padding: 20px 0

.section-sm
    padding: 30px 0

.section-md
    padding: 50px 0

.section-lg
    padding: 60px 0

.section-xl
    padding: 120px 0

.m-r-3
    margin-right: 3px

.m-r-5
    margin-right: 5px

.m-r-10
    margin-right: 10px

.m-r-15
    margin-right: 15px

.m-r-20
    margin-right: 20px

.m-r-25
    margin-right: 25px

.m-r-30
    margin-right: 30px


.m-l-20
    margin-left: 20px


.m-t-10
    margin-top: 10px

.m-t-20
    margin-top: 20px

.m-t-30
    margin-top: 30px

.m-t-40
    margin-top: 40px

.m-t-50
    margin-top: 50px

.m-t-60
    margin-top: 60px

.m-t-70
    margin-top: 70px


.m-t-80
    margin-top: 80px


.m-t-90
    margin-top: 90px


.m-b-10
    margin-bottom: 10px

.m-b-15
    margin-bottom: 15px

.m-b-20
    margin-bottom: 20px

.m-b-30
    margin-bottom: 30px


.m-b-40
    margin-bottom: 40px


.m-b-50
    margin-bottom: 50px

.m-b-60
    margin-bottom: 60px

.m-b-70
    margin-bottom: 70px

.m-b-80
    margin-bottom: 80px

.m-y-10
    margin: 10px 0

.m-y-20
    margin: 20px 0

.m-y-30
    margin: 30px 0

.m-y-40
    margin: 40px 0

.m-y-50
    margin: 50px 0

.m-y-60
    margin: 60px 0

.m-y-70
    margin: 70px 0


.m-x-10
    margin: 0 10px

.m-x-20
    margin: 0 20px

.m-x-30
    margin: 0 30px



.p-t-10
    padding-top: 10px

.p-t-20
    padding-top: 20px

.p-t-30
    padding-top: 30px

.p-t-40
    padding-top: 40px

.p-t-50
    padding-top: 50px


.p-t-60
    padding-top: 60px


.p-t-70
    padding-top: 70px


.p-t-80
    padding-top: 80px


.p-t-90
    padding-top: 90px


.p-t-120
    padding-top: 120px


.p-b-10
    padding-bottom: 10px

.p-b-20
    padding-bottom: 20px

.p-b-22
    padding-bottom: 22px

.p-b-30
    padding-bottom: 30px

.p-b-40
    padding-bottom: 40px

.p-b-50
    padding-bottom: 50px

.p-b-60
    padding-bottom: 60px

.p-b-70
    padding-bottom: 70px

.p-b-80
    padding-bottom: 80px

.p-b-90
    padding-bottom: 90px


.p-l-10
    padding-left: 10px



.p-y-10
    padding: 10px 0


.p-y-20
    padding: 20px 0

.p-y-22
    padding: 22px 0

.p-y-30
    padding: 30px 0

.p-y-40
    padding: 40px 0

.p-y-50
    padding: 50px 0

.p-y-60
    padding: 60px 0

.p-x-5
    padding: 0 5px

.p-x-10
    padding: 0 10px

.p-x-15
    padding: 0 15px

.p-x-20
    padding: 0 20px

.p-x-22
    padding: 0 22px

.p-x-30
    padding: 0 30px

.p-x-35
    padding: 0 35px

.p-x-40
    padding: 0 40px

.p-x-50
    padding: 0 50px

.p-x-60
    padding: 0 60px

.p-l-5
    padding-left: 5px
.p-l-10
    padding-left: 10px
.p-l-15
    padding-left: 15px
.p-l-20
    padding-left: 20px
.p-l-25
    padding-left: 25px
.p-l-30
    padding-left: 30px


.p-r-5
    padding-right: 5px
.p-r-10
    padding-right: 10px
.p-r-15
    padding-right: 15px
.p-r-20
    padding-right: 20px
.p-r-25
    padding-right: 25px
.p-r-30
    padding-right: 30px

.p-l-0
    padding-left: 0 !important
.p-r-0
    padding-right: 0 !important
.p-t-0
    padding-top: 0 !important
.p-b-0
    padding-bottom: 0 !important

.m-b-0
    margin-bottom: 0 !important
.m-t-0
    margin-top: 0 !important
.m-l-0
    margin-left: 0 !important
.m-r-0
    margin-right: 0 !important
.p-0
    padding: 0 !important


.f-s-14
    font-size: 14px !important

.f-s-13
    font-size: 13px !important

.f-s-12
    font-size: 12px !important

.f-w-400
    font-weight: 400

.f-w-300
    font-weight: 300



.no-border
    border: none !important



.grey-text
    color: #BDBDBD

.underline
    text-decoration: underline


.orange-btn
    background-color: #FFB91B
    color: #fff
    font-size: 14px
    line-height: 1
    font-weight: 600
    padding: 13px
    border: 2px solid transparent

.grey-btn
    background-color: #3A3A3A
    color: #fff
    font-size: 14px
    line-height: 1.5
    font-weight: 600
    padding: 13px
    border: 2px solid transparent


.orange-btn-outline
    border: 2px solid #FFB91B
    color: #4F4F4F
    font-size: 14px
    line-height: 1
    font-weight: 400
    padding: 10px
    background-color: white


.grey-btn-outline
    border: 1px solid #979797
    color: #4F4F4F
    font-size: 14px
    line-height: 1.5
    font-weight: 300
    padding: 9px
    background-color: white

.active-btn
    background-color: #FFB91B
    color: #fff


.big-btn
    width: 100%
    font-size: 24px
    font-weight: 400
    padding: 35px

.pointer
    cursor: pointer


h1
    font-size: 32px

h2
    font-size: 28px

h3
    font-size: 24px

h4
    font-size: 20px

h5
    font-size: 16px


.bg-grey
    background: #333333

.bg-orange
    background-color: #FFB91B !important

.orange-text
    color: #FFB91B !important

.no-b-r
    border-radius: 0px

.round-img
    border-radius: 50%

.border-1
    border-width: 1px

.l-h-1-5
    line-height: 1.5

.l-h-2
    line-height: 2


.three-columns
    columns: 3


@media (max-width: 767px)
    .three-columns
        columns: 1

