$grid-gutter-width: 10px


$font-family-base: Roboto


$link-color: #000
$link-hover-color: #000
$link-hover-decoration: none


$breadcrumb-padding-x: 0
$breadcrumb-bg: transparent
$breadcrumb-divider-color: #FFB91B


$input-focus-border-color: #FFB91B
$input-focus-box-shadow: none
$input-btn-focus-box-shadow: none
$btn-focus-box-shadow: none
$btn-active-box-shadow: none
$btn-focus-width: 0


$modal-content-border-radius: 10px
@import '../../../node_modules/bootstrap/scss/bootstrap'
@import '../../../node_modules/react-toastify/dist/ReactToastify.css'
@import './helpers'
    
html, body
    -webkit-overflow-scrolling: touch // Bug fix for iphone


a:focus,input:focus,select:focus,button:focus
    outline: none !important

.navbar
    padding: 0 !important

.navbar-nav
    flex-direction: row !important

select
    background: url("/static/img/icons/arrow-down.svg") no-repeat right
    background-position-x: 95%
    -webkit-appearance: none
    -moz-appearance: none
    cursor: pointer

.main-caption
    color: #FFB91B
    padding: 20px

.caption
    color: #FFB91B
    padding: 20px
    margin-bottom: .5rem
    font-family: inherit
    font-weight: 500
    line-height: 1.2

.nav__link
    padding: 0 17.5px
    font-size: 14px
.map
 color: #FFB91B

@media (min-width: 768px) and (max-width: 991px)
    .header_bottom .justify-content-between
        justify-content: flex-start !important

a, button
    transition: all .25s ease-in-out !important

.auth-modal-btn__container
  padding: 40px


.auth-modal-btn
    padding: 25px !important
    width: 100%
    font-size: 20px !important

.location-modal
    max-width: 500px
    width: 100%

.modal-content
    max-width: 560px


.alert-light
    border-color: #f2f2f2