@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss"
.ad-page__title
    font-size: 36px
    font-weight: 400
    margin-bottom: 15px
    line-height: 1.2

.price
    font-size: 36px
    text-align: right
    line-height: 1.2

.chart__container
    background-color: #333
    height: 100%

.back-next
    padding: .75rem 0
    text-align: right

.back-next__link
    margin-left: 15px

.ads-features
    column-count: 2
    font-size: 14px
    list-style: none
    padding-left: 0

.ads-features li 
    padding-bottom: 10px
    display: inline-block
    width: 100%

.seller span:first-of-type
    font-weight: 500
    font-size: 14px
    display: block

.seller span 
    font-size: 13px


.seller img
    width: 50px
    height: 50px
    object-fit: cover

.similar-ads
    padding-top: 20px

.similar-ad__title
    font-weight: bold
.similar-ad span
    display: block
    font-size: 13px


.similar-ad
    width: 100%
    //max-height: 120px
    padding-bottom: 20px

.similar-ad img
    width: 100%
    height: 90px
    object-fit: cover




@media (max-width: 991px) 
    .ads-features
        columns: 1
    
    .price
        text-align: left
    
    .similar-ad img
        width: 200px
        height: auto
        object-fit: contain
    
    .similar-ad
        width: 100%
        max-height: 120px
        padding: 20px
    
